.produto-h1{
    border: 2px solid #4f2b09;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(237, 162, 116);
    padding: 10px;
    text-align: center;
    background: linear-gradient(90deg, #472504, #9a4309, #c74b08);
    background-color: #4f2b09;
    -webkit-text-stroke: 2px rgb(66, 26, 14);
    border-radius: 5px; /*caso nao quiser redondo tira isso aq*/
}

.produto-h2{
  color:rgb(123, 56, 8);
  border: 2px solid #291c0f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(233, 176, 140);
    padding: 10px;
    text-align: center;
    background: linear-gradient(90deg, #663402, #b84e07, #e45609);
    background-color: #684422;
    -webkit-text-stroke: 1px rgb(66, 26, 14);
    border-radius: 30px; /*caso nao quiser redondo tira isso aq*/
}


.cardapio {
  flex-grow: 1;
  background-image: url("images/madeira.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat:repeat;
  position: relative;
  padding-top: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body{
  margin:0;
}

.tamanhos {
  display: flex;
  gap: 2rem; 
  justify-content: center;
}

.tamanho-item {
  display: flex;
  font-family:Impact;
  flex-direction: column; 
  align-items: center; 
  min-width: 100px;
}

.tamanho-item h2 {
  margin: 0;
  font-family:Impact;
  font-size: 1.5rem;
  font-weight: bold;
}

.tamanho-item p {
  font-family:Impact;
  margin: 0.25rem 0 0 0;
  font-size: 1.6rem;
  color: #5c0606;
  text-decoration: underline;
  text-decoration-color: #750606;
}

body {
  background-color: #3a2406;
  justify-content: center; 
  min-height: 100vh;       
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  padding: 0 200px; 
  gap: 1.5rem; 
  justify-items: center; 
}