/*Ainda não terminei affr*/

.carrinho{
    top: 0;
    z-index: 1000;
    font-size: 2rem;
    text-align: center;
    font-weight: Impact;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px black;
    margin: 0 auto;
    
    background: linear-gradient(90deg, #472504, #9a4309, #c74b08);
}



/* deixei eles um do lado do outro */
.botoes-carrinho {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.botoes-carrinho .btn:hover {
  background: #efac41;
  color: #ffffff;
  transform: scale(1.05);
}

.carrinho-total{
    -webkit-text-stroke: 1px black
}

.carinha-vazio-header{
    color:rgb(123, 56, 8);
    border: 3px solid #291c0f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(254, 246, 241);
    padding: 10px;
    text-align: center;

    background-color: #dca91e;
    -webkit-text-stroke: 2px rgb(66, 26, 14);
    border-radius: 30px; /*caso nao quiser redondo tira isso aq*/
}

.olhada-produtos{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(251, 245, 240);
    padding: 10px;
    text-align: center;

    -webkit-text-stroke: 1.5px rgb(44, 15, 117);
    border-radius: 30px; /*caso nao quiser redondo tira isso aq*/
}
.carrinho-vazio{
    text-align: center;
    color:rgb(123, 56, 8);
    border: 2px solid #291c0f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(233, 176, 140);
    padding: 10px;
    text-align: center;
    background-color: #b95c10;
    -webkit-text-stroke: 1px rgb(66, 26, 14);
    border-radius: 30px;
}

.carrinho-nome{
    color:rgb(253, 249, 246);
    border: 3px solid #330a04 ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    text-align: center;

    background-color: #b32900;
    -webkit-text-stroke: 2px #330a04 ;
    border-radius: 30px; /*caso nao quiser redondo tira isso aq*/
}

.carrinho-item {
  display: flex;
  align-items: center;
  gap: 10px; /* espaçamento entre imagem, infos e botão */
  padding: 20px 30px;
  border: 3px solid #330a04 ;
  margin-bottom: 20px; /*altera a distância entre os itens*/
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  background-color: #6c1305   ;
}

.carrinho-item img {
  width: 300px; /* pode ajustar o tamanho */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.carrinho-item-info {
  margin-left: 80px;
  padding: 30px 20px;
  flex-grow: 1; /* ocupa o espaço restante */
  
}

.carrinho-item-info h2 {
  margin: 0 0 5px 0;
  font-size: 2rem;
  color: #efac41
}

.carrinho-item-info h3 {
  margin: 2px 0;
  color: #fffef6;
  font-size: 20px;
  
}

.carrinho-item-info button{
  left:5%;
  margin-right: 20px;
}
.carrinho-com-itens {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.carrinho button {
  padding: 12px 32px;
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 12px;
  cursor: pointer;
  color: #fef4f4;
  font-size: 30px;
  font-weight: 300;
  background: none;
  transition: background 0.2s, color 0.2s, transform 0.2s;
  text-align: center;
  min-width: 180px;
}
.comanda h2{
    border: 3px solid #330a04 ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(252, 241, 234);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: #b32900;
    -webkit-text-stroke: 1px rgb(66, 26, 14);
    border-radius: 25px;
}

.comanda form{
    font-size: 40px;
    padding: 30px;
    font-weight: Impact;
}

.comanda label {
  margin: 0 0 5px 0;
  font-size: 3rem;
  color: #efac41;
  font-weight: 600;
}

.comanda select {
  min-width: 200px;   /* aumenta largura */
  height: 50px;       /* aumenta altura da barra */
  font-size: 1.2rem;  /* aumenta o tamanho do texto */
  padding: 0 15px;    /* mais espaço interno */
  border-radius: 8px; /* cantos arredondados */
}


select {
  min-width: 300px;
  color: white;


  border-radius: 30px;
  border: 2px solid rgb(85, 51, 109);
  cursor: pointer;
  font-weight: 700;
  background: rgb(135, 126, 79)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A")
    right 10px center / 20px no-repeat;
  @media (hover: hover) {
    @supports (appearance: base-select) {
      padding-inline: 20px;
      background-image: none;
      &::picker-icon {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
        transition: rotate 0.2s ease-out;
      }
      &:open::picker-icon {
        rotate: 180deg;
      }
      &::picker(select) {
        padding: 0;
        margin-top: 5px;
        border: 2px solid indigo;
        background: white;
        border-radius: 20px;
        font-weight: 400;

        opacity: 0;
        height: 0;
        overflow: clip;
        transition: height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s,
          display 0.5s;

        transition-behavior: allow-discrete;
      }
      &:open::picker(select) {
        opacity: 1;
        height: calc-size(auto, size);
        overflow: auto;
        @starting-style {
          opacity: 0;
          height: 0;
        }
      }
      option {
        padding: 15px 20px;
        border-top: 1px solid indigo;
        cursor: pointer;
        transition-property: color, background;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        &:where(:hover, :focus, :active) {
          background: dodgerblue;
          color: white;
        }
        &:checked {
          background: navy;
          color: white;
        }
        &::checkmark {
          display: none;
        }
        &:first-child {
          border: 0;
        }
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.endereco{
  width: 300px;
  height: 100px;
  font-size: 1.5rem;
  color: #6c1305;
  background-color: white;
}

.endereco::placeholder{
  color:#330a04 
}