/*Ainda não terminei affr*/

.carrinho{
    top: 0;
    z-index: 1000;
    font-size: 2rem;
    text-align: center;
    font-weight: Impact;
    text-transform: uppercase;
    background: linear-gradient(90deg, #550a33, #d49725, #5ca4ec);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px black;
    margin: 0 auto;
}

.carrinho-vazio{
    text-align: center;
    color:rgb(123, 56, 8);
    border: 2px solid #291c0f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(233, 176, 140);
    padding: 10px;
    text-align: center;
    background: linear-gradient(90deg, #663402, #b84e07, #e45609);
    background-color: #684422;
    -webkit-text-stroke: 1px rgb(66, 26, 14);
    border-radius: 30px;
}

.carrinho-nome{
    color:rgb(221, 188, 165);
    border: 2px solid #291c0f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(233, 176, 140);
    padding: 10px;
    text-align: center;
    background: linear-gradient(90deg, #58310b, #b84e07, #e45609);
    background-color: #684422;
    -webkit-text-stroke: 1px rgb(66, 26, 14);
    border-radius: 30px; /*caso nao quiser redondo tira isso aq*/
}

.carrinho-item {
  display: flex;
  align-items: center;
  gap: 10px; /* espaçamento entre imagem, infos e botão */
  padding: 10px 0;
  border: 3px solid #ddd;
  margin-bottom: 20px; /*altera a distância entre os itens*/
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.carrinho-item img {
  width: 300px; /* pode ajustar o tamanho */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.carrinho-item-info {
  flex-grow: 1; /* ocupa o espaço restante */
}

.carrinho-item-info h2 {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
}

.carrinho-item-info p {
  margin: 2px 0;
  font-size: 1rem;
}





.carrinho-com-itens {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.carrinho button {
  margin: auto; /* empurra o botão para a direita */
  width: auto; /* remove largura fixa se quiser */
  padding: 10px 20px;
  background: #3c257dd5;
  border: 2px solid #a31b1b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-style: none none solid none;
  cursor: pointer;
  display: block;
  color: #fef4f4;
  font-size: 20px;
  font-weight: 300;
  padding: 16px 0;
  width: 290px;
  text-align: center;
}
