.order img{
    top: 18%;
    left:4%;
    position: absolute;
    width: 600px; 
    height: 600px;
    border-radius: 50%;
    
}


textarea {
  color: rgb(255, 255, 255); 
}

textarea::placeholder {
  color: rgb(244, 238, 238)
}


.order-box{
    padding-left: 500px;
    align-items:center ;
    justify-content: center;
    display: grid;
    margin: 0 auto;
}

.order-box h1{
    top: 0;
    z-index: 1000;
    font-size: 4rem;
    text-align: center;
    padding-top: 1.5rem;
    font-weight: Impact;
    text-transform: uppercase;
    color: #ffca0c;
    /*Fazer um degrade dps*/
    -webkit-text-stroke: 3px #330a04;
    margin: 0;
}

.order-box h2{
  font-size: 1.6rem;
  font-style: italic;
}

.order-box {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  height: 100vh;           /* para centralizar verticalmente na tela toda */
  position: relative;      /* mantém o contexto para elementos absolutos filhos */
  flex-direction: column;  /* se quiser vários elementos empilhados no centro */
}

.tamanho{
  text-align: center;
  font-size: 25px;

}



input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: white; 
    cursor: pointer;
    display: inline-block;
    position: relative;
}


input[type="radio"]:checked {
    background-color: rgb(92, 16, 92); 
}

input[type="radio"]:checked::after {
    content: "";
    width: 10px;
    height: 10px;

    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quantidade{
  text-align: center;
  padding: 20px;
  font-size: 25px;

}

.quantidade span{
  font-size: 30px;
  color:#000;
}


.quantidade-controle button {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: rgb(250, 253, 255);
  color: black;  
  font-size: 12px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tamanho-selecione{
    border: 2px solid #330a04;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(253, 251, 250);
    padding: 8px;
    text-align: center;
   
    background-color: #b32900;
    -webkit-text-stroke: 0.8px rgb(66, 26, 14);
    border-radius: 5px; /*caso nao quiser redondo tira isso aq*/
}

.tamanho-pizzas{
    border: 2px solid #291c0f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(251, 248, 246);
    padding: 10px;
    text-align: center;
   
    background-color: #b32900;
    -webkit-text-stroke: 1px rgb(66, 26, 14);
    border-radius: 30px; /*caso nao quiser redondo tira isso aq*/
}
.quantidade{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  width: 100%;
}

.note p{
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.tamanho, .quantidade {
  margin: 0;
  padding: 10px;
}

.quantidade, .note{
  margin: 0;
  padding: 10px;
}

.note {
  display: block;
  position: relative;
  padding: 2em;
  width: 300px;
  min-height: 300px;
  background-color: #FFFD75;
  box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, .3);
  transition: transform 0.15s;
  margin: 0;
}

.note:hover {
  cursor: move;
}

.note textarea {
  color: #000;
  background-color: transparent;
  border: none;
  resize: vertical;
  font-family: "Gloria Hallelujah", cursive;
  width: 100%;
  padding: 5px;
}

.note textarea::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Cor do placeholder */
}
.note textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.2) inset;
}

.note textarea.title {
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  height: 64px;
  margin-top: 20px;
}

.note textarea.cnt {
  min-height: 200px;
}

.note button{
  padding: 100px;
  
}


