.order img{
    top: 0;
    padding-top: 70px;
    left: 0;
    position: fixed;
    width: 600px; 
    height: 600px;
    border-radius: 50%;
    object-fit: cover; 
}

textarea {
  color: rgb(255, 255, 255); 
}

textarea::placeholder {
  color: lightgray
}
input[type="radio"] {
      accent-color: blue; 
}

.order-box{
    padding-left: 500px;
    align-items:center ;
    justify-content: center;
}


body{
    background: linear-gradient(135deg,  rgb(182, 125, 34),rgb(176, 96, 4) 50%,rgb(120, 74, 0) 50%,rgb(231, 129, 4) 50%,rgb(198, 109, 7) 100%) 
}